# Python
__pycache__/
*.py[cod]
*.so

# Virtual env
.venv/
env/

# Environment variables
.env

# Alembic
alembic/versions/*.pyc

# VSCode
.vscode/

# Mac
.DS_Store

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Docker
*.log

# Uploaded documents
uploads/
